@font-face {
  font-family: "Typewriter";
  src: url("./assets/typewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chalk";
  src: url("./assets/ChalkBoard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  color-scheme: light;
}

body, html {
  background: url("/sketch-texture.png"), #fafafa;
  background-size: 400px;
  background-blend-mode: multiply;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h1{
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}

toolbar{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.toolbar input[type="color"] {
  width: 36px;
  height: 36px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  padding: 0;
}

.toolbar input[type="range"] {
  width: 120px;
}

.toolbar button {
  background: #e8e6e6;
  color: rgb(0, 0, 0);
  border: none;
  padding: 9px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}

.toolbar button:hover {
  background: #cdcdcd;
}

.section-label {
  font-family: "Typewriter", monospace;
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

canvas {
  display: block;
  background: white;
  border: 2px solid #bbb;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.canvas-wrapper{
  padding: 20px;
  background: #fffdf5;
  border: 8px solid #f0e9d2;
  border-radius: 12px;
  box-shadow:
  0 4px 10px rgba(0,0,0,0.15),
  inset 0 0 30px rgba(0,0,0,0.05);
  margin-top: 10px;
}

@media (max-width: 600px) {
  canvas {
    width: 90% !important;
    height: auto !important;
  }

  .toolbar {
    flex-wrap: wrap;
    justify-content: center;
  }
}